# Python
__pycache__/
*.pyc

# 大文件/依赖包/临时产物
*.whl
*.pt
*.pth
*.bin
*.idx
*.npz
*.npy
*.zip
*.tar
*.tar.gz

# 训练产物
weights*/
checkpoints*/
logs*/
wandb/
runs/
tensorboard*/
outputs*/

# 本地数据
data*/
datasets*/
.cache/
.DS_Store
